.taskListDiv {
  height: auto;
  width: 300px;
  border: 1px solid black;
  background-color: red;
  margin-bottom: 20px;
}

.taskDiv {
  height: 20px;
  border: 1px dotted gray;
  background-color: yellow;
}

.deletedList {
  display: none;
}
